/*01.global style*/
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Lora:300,400,400i|Pacifico');

/*"Inter UI", 1~400, 500, 6~700, 800~*/
@import url('https://rsms.me/inter/inter-ui.css');





body{
    font-family: "open sans", sans-serif;
    line-height: 1.6;
    background: #f6f7f8;
    margin: 0;
}
/*real estate**********************/
section{
    width: 100vw;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
}


.left{
    float:left;
    width: 50%;
}
.right{
    float:right;
    width: 50%;
}

.x{
    margin-left: 5vw;
    margin-right: 5vw;}
.y{
    margin-bottom: 5vw;
    margin-top: 5vw;}

.px{
    padding-left: 5vw;
    padding-right: 5vw;}
.py{
    padding-bottom: 5vw;
    padding-top: 5vw;}
.tx{
    padding-left: 5vw;
    padding-right: 5vw;}

.xx{
    padding-left: 10vw;
    padding-right: 10vw;}
.yy{
    padding-bottom: 10vw;
    padding-top: 10vw; }

/*nav******************************
z-index 99*************************/
nav{
    position: sticky;
    top: 0;
/*    border-bottom: .1px #ff1111 solid;*/
/*    background: #ffc0cb20;*/
    z-index: 99;}
nav ul{
    position: relative;
    padding: 1.5vw 2vw;
}
nav ul li{
    display: inline-block;
}
nav:hover{
    background-color: #f6f7f8a0;
    transition:  300ms ease;
}
nav:hover a{
    color: #2b2b2b;
}
nav a:hover{
    color: #ff1111;
}
.nav{
    color: #2b2b2b20;
    font-family: "Inter UI",sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 1em;
}

/*typography***********************/
.h1{
    font-family: "Inter UI";
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.4;
    color: #2b2b2bdd;
    padding-bottom: .2em;

}
.h2{
    font-family: "Inter UI";
    font-size: 1.2rem;
/*    font-weight: 600;*/
}
.h3{
    font-family:"Inter UI";
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 1.5em;
}
.h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
/*    color: #ff1111;*/
}
.quote{
    padding: 5vw;
    font-weight: 600;
    font-size: 1.2rem;
    
    background-color:#ffc0cb26;
}
.p{
    font-family: 'Inter UI', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8em;
}

.caption{
    font-family: 'Inter UI', sans-serif;
    font-size:1rem;
    font-style: italic;  
}

.black{
    font-weight:800;
}
.bold{
    font-weight:600;
}
.medium{
    font-weight:500;
}




video{
    width:100%;
}
.imgfull{
    width:100%;
}
.imghalf{
    height: 40vh;
    width: auto;
}
.footer{
    font-family: "Inter UI";
    font-size: 1rem;
/*    font-weight:400;*/
    text-align: left;
    margin-left:2vw;
    color: #2b2b2b;
    opacity: 0.5;
}







/*02.grid related!!! ************************************/
.grid{
    display: grid;
    grid-template-columns: 3vw 1fr 1fr 1fr 1fr 3vw;
    grid-template-rows: auto;
    grid-gap: 2vw;
}









/*03.can change*/
.open{
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 10em;
}
.about{
    color: #131711;
    font-family: "Open Sans";
    position: absolute;
    top: 40vh;
    left: 15vw;
    font-size: 4rem;
    font-weight: 600;
}

/*04.************for top button***********/
#myBtn {
    font-family: 'Inter UI';
    border: none;
    background: none;
    box-shadow: none;
    font-size: 1em;
    color: #2b2b2b;
    display: none;
    float: right;
    position: fixed;
    z-index:100;
    padding: 0;
    top: 50%;
    right: -2em;
    transform: rotate(90deg);
/*    display: block;*/    
}
#myBtn:hover{
/*    text-decoration: underline;*/
    cursor:pointer;
    color: #ff1111;
    font-weight: 800;
}

/*05.media queries******************/
@media only screen and (max-width: 700px) {
    .left,.right{
        float: none;
        width: auto;
    }
    #myBtn{
        height: 12vw;
        width: 12vw;
        margin: auto;
        color:#f6f7f800;
        bottom: 5em;
        transform: none;
        right: 2em;
        line-height: 1;
        background-color: white;
        border-radius: 50%;
        
        background-image: url(../Arrow_top.png);
        background-size:100%;
        background-repeat: no-repeat;
    }
    #myBtn:hover{
    text-decoration: none;
    color: #ffffff00;
    cursor:pointer;
    background-color: #ff1111;
    transition: ease .2s;
    }
    
    .nav{
        color: #2b2b2b;
    }
    .tx{
    padding:0;}
    
    img{
        width:100%;
    }
 
}



@media only screen and (min-width: 1440px){
    body{
        width: 1440px;
        margin-left:auto;
        margin-right: auto;
    }
}



